<div class="inline-flex items-center p-2 rounded-lg">
    <span class="form-label-inline mr-2">{{ i18n "sort_by" }}:</span>
    <select id="sort-select" class="select-control">
        <option value="title_asc">{{ i18n "sort_title_asc" }}</option>
        <option value="title_desc">{{ i18n "sort_title_desc" }}</option>
        <option value="author_asc">{{ i18n "sort_author_asc" }}</option>
        <option value="author_desc">{{ i18n "sort_author_desc" }}</option>
        <option value="year_asc">{{ i18n "sort_year_asc" }}</option>
        <option value="year_desc">{{ i18n "sort_year_desc" }}</option>
    </select>
</div> 