/* Custom Hover Effects */
.book-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.book-item img:hover {
  opacity: 0.9;
}

/* Button Styles */
button {
  background-color: var(--accent2-color);
  border: none;
  padding: 10px 20px;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent1-color);
}

/* Custom Animations (Example for Pop-up or Loading Animation) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}
