@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tag-colors.css";

/* Custom styles go here */

a {
  @apply text-blue-600 underline;
}

a:hover {
  @apply text-blue-800;
}

a:visited {
  @apply text-purple-600;
}

a:active {
  @apply text-red-500;
}

/* Tag Styles */
/* Ellipse style */
.tag {
  @apply inline-block px-3 py-1 rounded-full text-sm font-medium;
}

/* Rounded rectangle style */
/* .tag {
  @apply inline-block px-3 py-1 rounded-lg text-sm font-medium;
} */
