/* assets/tailwind.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tag-colors.css";

/* Custom styles go here */

/* Style regular links with the 'styled-link' class */
.styled-link {
  @apply text-blue-600 underline;
}

.styled-link:hover {
  @apply text-blue-800;
}

.styled-link:visited {
  @apply text-purple-600;
}

.styled-link:active {
  @apply text-red-500;
}

/* Tag Styles */
/* Ellipse style */
.tag {
  @apply inline-block px-3 py-1 rounded-full text-sm font-medium;
}

/* Rounded rectangle style */
/*
.tag {
  @apply inline-block px-3 py-1 rounded-lg text-sm font-medium;
}
*/

.book-card {
  overflow: visible !important;
}

.book-card > a {
  overflow: hidden;
  border-radius: 0.5rem; /* This matches the rounded-lg class */
}

.pagefind-ui__results-container {
  /* Style the results container */
  margin-bottom: 2rem;
}

.pagefind-ui__result {
  /* Style individual results */
  margin-bottom: 1rem;
}

.header-logo {
  height: 20px !important; /* Adjust this value as needed */
  width: auto;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media (min-width: 768px) {
  .header-logo {
    height: 20px !important; /* Slightly larger on desktop if desired */
  }
}

/* Button Styles */
.button[aria-disabled="true"] {
  @apply cursor-not-allowed opacity-50;
}

.button[aria-disabled="true"]:hover {
  @apply bg-gray-600;
}

/* Reusable Button Styles */
.btn {
  @apply bg-gray-600 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded shadow transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50;
}
