<!-- layouts/partials/book-content.html -->
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">{{ .Title }}</h1>

    <div class="book-details grid grid-cols-1 lg:grid-cols-2 gap-8">
      <div class="book-info">
        {{ with .Params.authors }}
        <div class="mb-4">
          <h2 class="font-black">{{ i18n "authors" }}</h2>
          <p>{{ delimit . ", " }}</p>
        </div>
        {{ end }}

        {{ with .Params.translators }}
        <div class="mb-4">
          <h2 class="font-black">{{ i18n "translators" }}</h2>
          <p>{{ delimit . ", " }}</p>
        </div>
        {{ end }}

        {{ with .Params.book_description }}
        <div class="mb-4">
          <h2 class="font-black">{{ i18n "book_description" }}</h2>
          <div class="prose">{{ . | markdownify }}</div>
        </div>
        {{ end }}

        {{ with .Params.tags }}
        <div class="mb-4">
          <h2 class="font-black">{{ i18n "tags" }}</h2>
          <div class="flex flex-wrap gap-2">
            {{ range . }}
              {{ partial "tag-component.html" (dict "tag" . "clickable" false) }}
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>

      {{ partial "book-metadata.html" . }}
    </div>
  </div>