{{ $extraClasses := .extraClasses | default "" }}
<div class="flex flex-wrap gap-1 {{ $extraClasses }}">
    {{ range .tags }}
        {{ $tagClass := . }}
        {{ $tagClass := replace (lower $tagClass) "+" "-" }}
        {{ $tagClass := replace $tagClass " " "-" }}
        {{ $tagClass := replace $tagClass "(" "" }}
        {{ $tagClass := replace $tagClass ")" "" }}
        {{ $tagClass := replace $tagClass "'" "" }}
        {{ $tagClass := replace $tagClass "&" "and" }}
        <span class="text-xs px-2 py-1 rounded-full tag tag-{{ $tagClass }} font-bold">{{ . }}</span>
    {{ end }}
</div>