<!-- layouts/partials/button.html -->

{{ $class := .class | default "btn-primary" }}
{{ $size := .size | default "" }}
{{ $disabled := .disabled | default false }}
{{ $type := .type | default "button" }}
{{ $id := .id | default "" }}
{{ $dataAttrs := .data | default dict }}

<button
    {{ if $id }}id="{{ $id }}"{{ end }}
    type="{{ $type }}"
    {{ if $disabled }}disabled aria-disabled="true"{{ end }}
    class="{{ $class }} {{ $size }} {{ if $disabled }}btn-disabled{{ end }} {{ .classes | default "" }}"
    {{ range $key, $value := $dataAttrs }}
    data-{{ $key }}="{{ $value }}"
    {{ end }}
>
    {{ .content | safeHTML }}
</button>
