{{ define "partials/getTranslationStatusColor" }}
  {{ $status := . }}
  {{ $color := "text-gray-600" }}
  {{ if eq $status "translation_status_exists" }}
    {{ $color = "text-green-600" }}
  {{ else if eq $status "translation_status_might_exist" }}
    {{ $color = "text-yellow-600" }}
  {{ else if eq $status "translation_status_unknown" }}
    {{ $color = "text-gray-600" }}
  {{ else if eq $status "translation_status_does_not_exist" }}
    {{ $color = "text-red-600" }}
  {{ end }}
  {{ return $color }}
{{ end }}