<!-- layouts/partials/head-additions.html -->
<!-- Basic meta tags -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">

<!-- Core resources -->
<link rel="stylesheet" href='{{ "css/tailwind.css" | relURL }}'>
<link rel="icon" type="image/x-icon" href='{{ "favicon.ico" | relURL }}'>

<!-- Export translation strings as meta tags for JS use -->
<meta name="i18n-sort_by" content="{{ i18n "sort_by" }}">
<meta name="i18n-sort_title_asc" content="{{ i18n "sort_title_asc" }}">
<meta name="i18n-sort_title_desc" content="{{ i18n "sort_title_desc" }}">
<meta name="i18n-sort_author_asc" content="{{ i18n "sort_author_asc" }}">
<meta name="i18n-sort_author_desc" content="{{ i18n "sort_author_desc" }}">
<meta name="i18n-sort_year_asc" content="{{ i18n "sort_year_asc" }}">
<meta name="i18n-sort_year_desc" content="{{ i18n "sort_year_desc" }}">
