<section class="hero">
    <div class="hero-content">
      <img src="{{ "images/loudly_proud_header.jpg" | relURL }}" alt="Loudly Proud Logo" class="hero-image">
      <div class="hero-text">
        <h1>{{ .Site.Params.heroTitle | default "Литературный каталог Loudly Proud" }}</h1>
        <p>{{ .Site.Params.heroDescription | default "Друзья, это наша общая библиотека квир-литературы. Знаете книгу, которой здесь не хватает? Заметили неточность?" }} <a href="{{ .Site.Params.heroFeedbackLink }}">Дайте мне знать</a> – вместе мы сделаем этот каталог лучше.</p>
        <p>{{ .Site.Params.heroTelegram | default "Телеграм канал для анонсов о сайте: " }} <a href="https://t.me/loudlyProud">t.me/loudlyProud</a></p>
      </div>
    </div>
  </section>
