<div class="search-wrapper">
  <div id="search"></div>

  <script>
    window.addEventListener('DOMContentLoaded', function() {
      new PagefindUI({
        element: "#search",
        showImages: false, // Optional: disable image previews
        bundlePath: "/search/", // Uses local bundle
        translations: {
          placeholder: "{{ i18n "search_placeholder" }}",
          clear_search: "{{ i18n "clear_search" }}",
          load_more: "{{ i18n "load_more" }}",
          search_label: "{{ i18n "search_label" }}",
          filters_label: "{{ i18n "filters_label" }}",
          zero_results: "{{ i18n "no_results" }}"
        }
      });
    });
  </script>
</div> 