<header class="bg-secondary py-1">
  <div class="container mx-auto flex justify-center items-center">
    <a href="{{ .Site.BaseURL }}" class="no-underline">
      <svg width="170" height="30" viewBox="0 0 170 30" xmlns="http://www.w3.org/2000/svg">
        <style>
          .logo-text { font-family: 'Lato', sans-serif; font-weight: bold; }
        </style>
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" class="logo-text" fill="black" font-size="25">
          Loudly Proud
        </text>
      </svg>
    </a>
  </div>
</header>