{{- /* Tag normalization functions */ -}}

{{- define "normalize_tag" -}}
  {{- $input := .tag | string -}}
  {{- /* First decode any HTML entities */ -}}
  {{- $decoded := $input | htmlUnescape -}}
  {{- /* Check for special URL normalization */ -}}
  {{- $special_url := index site.Data.tags.tag_normalization.url_normalizations $decoded | default "" -}}
  {{- if $special_url -}}
    {{- $special_url | safeHTML | string -}}
  {{- else -}}
    {{- /* Apply regular normalization */ -}}
    {{- $lowered := lower $decoded -}}
    {{- $mapped := index site.Data.tags.tag_normalization.normalizations $lowered | default $lowered -}}
    {{- $normalized := $mapped | urlize -}}
    {{- $normalized | safeHTML | string -}}
  {{- end -}}
{{- end -}}

{{- define "get_tag_display" -}}
  {{- $input := .tag | string -}}
  {{- /* First decode any HTML entities */ -}}
  {{- $decoded := $input | htmlUnescape -}}
  {{- $lowered := lower $decoded -}}
  {{- $normalized := index site.Data.tags.tag_normalization.normalizations $lowered | default $decoded -}}
  {{- $display := index site.Data.tags.tag_normalization.display $normalized | default $decoded -}}
  {{- $display | safeHTML | string -}}
{{- end -}}

{{- /* Main entry point */ -}}
{{- if eq .action "normalize_tag" -}}
  {{- template "normalize_tag" . -}}
{{- else if eq .action "get_tag_display" -}}
  {{- template "get_tag_display" . -}}
{{- end -}}